tox
pyusb
git+https://github.com/amaranth-lang/amaranth
git+https://github.com/amaranth-lang/amaranth-soc
git+https://github.com/amaranth-lang/amaranth-boards
git+https://github.com/usb-tools/python-usb-protocol
pyvcd
pyserial~=3.4
